body{
    margin: 0;
    /*background-color: #da7878*/
}

header{
    width: 100%;
    padding: 10Px;
    background-color: rgb(207, 149, 74);
    display: flex;
    justify-content: space-between;
    position: fixed; 
}

.menu a{
    padding-right: 10px;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro h1{
    margin: 0px;
    color: rgb(30, 143, 2);
    text-align: center;
}

.intro p{
    margin: 0px;
    color: rgb(30, 143, 2);
    text-align: center;
}
.photo {
width: 50vw;
height:100vh;
background-image: url(/Images/School.jpg);
background-size: cover;
background-position: right;
}

.graduands{
    display: flex;
    justify-content: space-around;
           
}
.science,.commercial,.art,.all-students{
    width: 25%;
    height: 200px;
    border: 1px red solid;
    margin: 25px;
    text-align: center;    
}

.graduands p{
   
    color: rgb(55, 15, 225);
    font-size: 18px;
    font-weight: bold;
    margin-top: 75%;
}
.science{
 background-image: url(../Images/Science.jpg); 
}
.commercial{
    background-image: url(../Images/Commercial.jpg)
}
.art{
    background-image: url(../Images/Art.jpg);
}
.all-students{
    background-image: url(../Images/Students.jpeg);
}
.science,.commercial,.art,.all-students{
    background-size:cover;
}

